@model Camilo_Rendon.Models.Medico

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-primary">Ver Detalle</h1>

<div class="card shadow p-4 bg-light">
    <h4 class="text-secondary">Medico</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.NombreCompleto)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.NombreCompleto)</dd>

        <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Especialidad)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Especialidad)</dd>

        <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.CorreoElectronico)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CorreoElectronico)</dd>

        <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Telefono)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Telefono)</dd>

        <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.HorarioAtencion)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.HorarioAtencion)</dd>
    </dl>
</div>

<div class="text-center mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.IdMedico" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-outline-secondary ms-2">Atras</a>
</div>
